@use '@carbon/colors' as *;
@use '@carbon/themes' as *;

// colors
.blue-60 {
  color: $blue-60;
}

.blue-50 {
  color: $blue-50;
}

.blue-40 {
  color: $blue-40;
}

.blue-30 {
  color: $blue-30;
}

.gray-80 {
  color: $gray-80;
}
.gray-100 {
  color: $gray-100;
}

.gray-60 {
  color: $gray-60;
}

.gray-50 {
  color: $gray-50;
}

.gray-40 {
  color: $gray-40;
}

.gray-30 {
  color: $gray-30;
}

.green-60 {
  color: $green-60;
}

.green-50 {
  color: $green-50;
}

.green-40 {
  color: $green-40;
}

.green-30 {
  color: $green-30;
}

.magenta-60 {
  color: $magenta-60;
}

.magenta-50 {
  color: $magenta-50;
}

.magenta-30 {
  color:  $magenta-30;
}

.magenta-20 {
  color: $magenta-20;
}

.orange-60 {
  color: $orange-60;
}

.orange-50 {
  color: $orange-50;
}

.orange-40 {
  color: $orange-40;
}

.orange-30 {
  color: $orange-30;
}

.purple-60 {
  color: $purple-60;
}

.purple-50 {
  color:  $purple-50;
}

.purple-30 {
  color:  $purple-30;
}

.purple-20 {
  color: $purple-20;
}

.red-60 {
  color: $red-60;
}

.red-50 {
  color: $red-50;
}

.red-40 {
  color: $red-40;
}

.red-30 {
  color: $red-30;
}

.teal-60 {
  color: $teal-60;
}

.teal-50 {
  color: $teal-50;
}

.teal-40 {
  color: $teal-40;
}

.teal-30 {
  color: $teal-30;
}

.white-core {
  color: #fff
}

.black-core {
  color: #000
}

.yellow-30 {
  color: $yellow-30;
}

.yellow-10 {
  color: $yellow-10;
}

.color-primary {
  color: $text-primary;
}