@use 'node_modules/@carbon/react' with ($use-flexbox-grid: true);

@use '@carbon/type';
@use '@carbon/themes' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/utilities/convert' as *;
@use '@carbon/react/scss/breakpoint';

@use '@carbon/colors' as *;

@import "ibm-colors.scss";


.left-sub-heading {
  @include type.type-style("heading-05");

  color: $blue-60;
}

@media only screen and (min-width: 1056px) {
  .mobile-content {
    display: none;
  }

}

@media only screen and (max-width: 1055px) {
  .desktop-content {
    display: none;
  }

  body,
  .sb-show-main.sb-main-padded {
    padding: 0;
  }

  .cds--accordion__item:last-child {
    border-block-end: none
  }

  .cds--accordion__item {
    border-block-start: none
  }
}

@media (max-width: 41.98rem) {
  .book-container .info-block-column {
    padding: 1rem 0 0.5rem;
  }
}

@media (max-width: 65.98rem) {}

.info-block {
  @import "info-types.scss";
  margin-top: 2.5rem;
  padding-right: 1rem;
  margin-bottom: 6rem;

  .content-heading {
    margin-bottom: $spacing-05;
  }

  .body-content {
    margin-top: 2.5rem;
  }


  .plg-list-item {
    display: grid;

    &.with-icon {
      .picto-container {
        display: none;
      }

      @include breakpoint.breakpoint-up('md') {
        .picto-container {
          display: inline-block;
        }

        grid-template-columns: 2rem 1fr;

        .list-content {
          margin-left: 2rem;
        }
      }
    }

    margin-bottom: $spacing-06;

    .picto-container {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      width: initial;
      height: initial;
      background: none;
      opacity: 1;
      border: 0px;
      margin: 0px;
      padding: 0px;
      position: relative;
      /* max-width: 100%; */
      height: 48px;
      width: 48px;

      .picto {
        position: absolute;
        inset: 0px;
        box-sizing: border-box;
        padding: 0px;
        border: none;
        margin: auto;
        display: block;
        width: 0px;
        height: 0px;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
      }
    }

    .list-content {
      gap: 2px;

      .list-content-title {
        @include type.type-style("heading-02");
      }

      .list-content-body {
        @include type.type-style("body-short-02");
      }
    }
  }

  .subscribe-from {
    .label-01 {
      @include type.type-style("label-01");
      padding-bottom: 5px;
    }

    img {
      max-height: 50px;

    }

    padding-bottom: 2.5rem;
  }

  .has-accordion {
    // padding-bottom: 40px;
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative;

    .info-accordion {
      .cds--accordion__heading {
        position: absolute;
        bottom: -12px;

        &:focus {
          &::before {
            border: none;
          }
        }

        .cds--accordion__title {
          text-align: right
        }
      }

      .cds--accordion__content {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .cds--accordion__heading:hover {
        background-color: inherit;
      }

      .cds--accordion__heading:focus {
        box-shadow: inherit
      }
    }
  }

}